{% extends 'base_back.html.twig' %}

{% block content %}

    <h1>Page des categories</h1>

    {{ form_start(form) }}
    {{ form_rest(form) }}
        <button type="submit">Soumettre</button>
    {{ form_end(form) }}
{% endblock %}