<!-- Footer
		============================================= -->
<footer id="footer" class="dark" style="background-color: #101010;">
    <div class="container">

        <!-- Footer Widgets
        ============================================= -->
        <div class="footer-widgets-wrap">

            <div class="row justify-content-center">
                <div class="col-lg-9">
                    <div class="widget">
                        <h3>Liens utiles</h3>
                        <div class="row col-mb-30">
                            <div class="col-lg-3 col-6 widget_links">
                                {#{% for i in 10 %}
                                <ul>

                                    <li><a href="#">test</a></li>
                                </ul>
                                {% endfor %}#}
                            </div>
                        </div>

                    </div>
                </div>

                <div class="col text-center text-lg-end">
                    <div class="widget">

                        <div class="row">
                            <div class="col-12 mb-3">
                                <small>Nous contacter:</small>
                                <a href="tel:0762972691"><h4 class="h4">+(33) 7 62 97 26 91</h4></a>
                            </div>

                            <div class="col-12 d-flex justify-content-center justify-content-lg-end">
                                <ul class="meta list-inline">
                                    <li class="list-inline-item">
                                        <a href="https://github.com/belbeche/blog_2022" target="_blank">Voir sur GitHub</a>
                                    </li>
                                </ul>
                            </div>

                            <div class="col-12 mt-5 text-white-50 text-smaller">
                                Tous droits réservés <br>&copy; 2022 ScriptZenIT<br>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div><!-- .footer-widgets-wrap end -->
    </div>
</footer><!-- #footer end -->