{% extends 'base.html.twig' %}

{% block content %}

    <div class="container">
        <div class="jumbotron">
            <h1 class="display-4">Contact</h1>
            <h3>Mes coordoonées</h3>

            <blockquote>
                <a href="tel:0762972691" style="text-decoration: underline;">Téléphone: +33 7 62 97 26 91</a><br>
                <a href="mailto:wbelbeche.s@gmail.com">Mail: wbelbeche.s@gmail.com</a>
            </blockquote>
        </div>
        <p class="lead">
            UN SITE WEB FONCTIONNEL ET ADAPTÉ
            Tous nos clients ne sont pas des experts, c’est pourquoi j'apporte un soin tout particulier à plus de transparence dans le process de création de votre site internet et l’outil final d’administration de ce dernier qui vous sera livré.
        <p>
        <hr class="my-4">
        <p>
            Les questions sont très nombreuses, créer un site web ce n’est pas une mince affaire et cela engage dans une démarche de digitalisation de votre entreprise
        </p>
        <a href="tel:0762972691" class="btn btn-primary">Appelez-moi !</a>
        <a href="mailto:wbelbeche.s@gmail.com" class="btn btn-secondary">Contactez-moi par email !</a>
    </div>


{% endblock %}